.add_btn{
    background-image: url(add_icon.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
}
.edit_btn{
    background-image: url(edit-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
}
.del_btn{
    background-image: url(delete-icon.avif);
    background-size: contain;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
}
.input1{
    width: 600px;
    height: 50px;
    border-radius: 50px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: darkblue;
    border: solid darkgreen;
}
::placeholder{
    color: lightblue;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    color: darkblue;
    font-size: 60px;
}